*{
    margin: 0;
    padding: 0;
    box-sizing: border-box mobile 375px;
    

    
} 
body{background-color: hsl(0, 0%, 95%);
    font-size: 15px;
    font-weight: 400;
    
    
}
h2{margin-top: 2pc;
font-size: 15px;
color: hsl(0, 0%, 95%);}
p{color: hsl(0, 0%, 95%);
margin-top: 2pc;}
main{
    margin:auto;
    display:  flex;
    align-items: center;
    justify-content: center;
    width: 100%; 
    height: 100vh;
    font-family:"https://fonts.google.com/share?selection.family=Lexend%20Deca" ;
    font: size 15px;
    
    
   

}
.SEDANS .LUXURY .SUVS {display: flex;
padding: 4em;
width: 80;
border-radius: 2pc;
height: 100vh;}

button{ border-radius: 1rem;
padding: 0.4em;
border: 2px solid hsl(0, 0%, 95%);
width: 120%;
margin-top: 6em;
display: flex;
}
button :hover{ background-color: transparent;
cursor: pointer;
}

.SEDANS{background-color: hsl(31, 77%, 52%);
padding: 4em;
font-weight: 400;
width: 60;
border-radius: 2pc;
}
.SUVS{background-color: hsl(184, 100%, 22%);
 padding: 4em;
 font-weight: 400;
 width: 60;
 border-radius: 2pc;
}
.LUXURY{background-color: hsl(179, 100%, 13%);
padding: 4em;
font-weight: 400;
width: 60;
border-radius: 2pc;
}